html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: rgb(211, 188, 170);
    font-family: sans-serif;
}

#three-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#ui-overlay {
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,0); /* Optional: semi-transparent background */
    color: black;               /* Optional: text contrast */
    padding: 10px;
    border-radius: 8px;
}

button, input[type=range] {
    margin-top: 8px;
    width: 20%;
    font-size: 24px;
    padding: 15px 30px;
}

#calibrate-btn {
  position: relative;
  overflow: hidden;
  background: #444;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#calibrate-btn .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #5a0b1c, #962222);
  z-index: 0;
}

#calibrate-btn span {
  position: relative;
  z-index: 1;
}