<!DOCTYPE html>
<html>
<head>
  <title>Motor Calibration</title>
</head>

  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.161.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
      }
    }
  </script>

<body>
  <div id="ui-overlay">
    <h1>Motor Calibration</h1>
    <button id="calibrate-btn" onclick="toggleCalibration()">
      <div class="progress-bar" id="calibration-progress"></div>
      <span>Start Calibration</span>
    </button>

    <h2>Live Encoder Readings</h2>
    <div id="readings">
      <p>Motor 1: <span id="m1">--</span></p>
      <p>Motor 2: <span id="m2">--</span></p>
      <p>Motor 3: <span id="m3">--</span></p>
    </div>
  </div>

  <div id="three-container">
  </div>


  <script src="/static/js/calibrate.js"></script>
  <!-- <script type="module" src="/static/js/model.js"></script> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</body>
</html>
