<!DOCTYPE html>
<html>
<head>
  <title>Motor Calibration</title>
</head>

  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.161.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
      }
    }
  </script>

<body>
  <div id="ui-overlay">
    <h1>Definitely The Real ROS 2</h1>
    <button id="calibrate-btn" onclick="toggleCalibration()">
      <div class="progress-bar" id="calibration-progress"></div>
      <span>Start Calibration</span>
    </button>

    <h2>Live Encoder Readings</h2>
    <div id="readings">
      <div>Motor 0: <span id="motor_0">-</span></div>
      <div>Motor 1: <span id="motor_1">-</span></div>
      <div>Motor 2: <span id="motor_2">-</span></div>
      <div>Motor 10: <span id="motor_10">-</span></div>
      <div>Motor 11: <span id="motor_11">-</span></div>
      <div>Motor 12: <span id="motor_12">-</span></div>

    </div>
  </div>

  <div id="three-container">
  </div>


  <script src="/static/js/calibrate.js"></script>
  <script type="module" src="/static/js/model.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</body>
</html>
